.addUser {
    background-color: #000;
    padding: 36px;
    border-radius: 16px;
    width: 500px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.addUser h1{
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.inputs input{
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
}

.rol-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 10px;
}

.rol-container label{
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
}

.rol{
    width: 30%;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.button-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.btn.add{
    width: 60%;
    padding: 8px;
    background: transparent;
    color: #fff;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
}

.btn.back{
    width: 60%;
    padding: 8px;
    background: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}