* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #021526;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    background: #fff;
    text-align: center;
    cursor: pointer;
}

a {
    text-decoration: none;
}